<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Post Show Page')"></head>

<body>
<nav th:replace="partials/navbar :: navbar" />


<h3><span th:text="${post.title}">Title</span></h3>
<p><span th:text="${post.body}">Body</span></p>
<a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a>
<form action="/posts/delete" method="post" th:object="${post}">
    <input type="hidden" th:field="*{id}" />
    <button id="delete">Delete</button>
</form>

<div th:replace="partials/footer :: footer"></div>

</body>
</html>