<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="/roll-dice">Play a game</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/create">Create a Post</a>
                </li>
            </ul>
            <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="login btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right mt-2">
                <li class="px-3 py-2">
                    <form th:action="@{/login}" method="post">
                        <div class="form-group">
                            <input id="username" name="username" placeholder="Username" class="form-control form-control-sm" type="text" required="" />
                        </div>
                        <div class="form-group">
                            <input id="password" name="password" placeholder="Password" class="form-control form-control-sm" type="password" required="" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                    </form>
                    <button class="btn btn-primary btn-block sign"><a href="/users/sign-up">Sign Up!</a></button>
                </li>
            </ul>
            <!--<nav>-->
                <!--<ul>-->
                    <!--&lt;!&ndash; More links here... &ndash;&gt;-->
                    <!--<li>-->
                        <!--<form th:action="@{/logout}" th:method="post">-->
                            <!--<button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
                        <!--</form>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</nav>-->
            <!--<form class="form-inline my-2 my-lg-0">-->
                <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />-->
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
        </div>
    </nav>
</body>
</html>